body{

background:#000;

color:white;

text-align:center;

font-family:Arial;

}

img{

width:700px;

margin-top:40px;

border:5px solid gold;

}

button{

margin-top:30px;

padding:15px 40px;

font-size:22px;

}