body{

margin:0;

height:100vh;

overflow:hidden;

font-family:Arial,sans-serif;

background:url("images/room.jpg");

background-size:cover;

background-position:center;

}

.overlay{

position:absolute;

width:100%;
height:100%;

background:rgba(0,0,0,.25);

}

.objective{

position:absolute;

top:20px;
left:20px;

color:white;

z-index:2;

}

.clue{

position:absolute;

font-size:50px;

cursor:pointer;

z-index:2;

transition:.3s;

}

.clue:hover{

transform:scale(1.2);

}

.diary{

bottom:120px;
left:420px;

}

.photo{

top:180px;
right:300px;

}

.note{

bottom:220px;
right:450px;

}

.popup{

display:none;

position:fixed;

width:100%;
height:100%;

background:rgba(0,0,0,.8);

justify-content:center;

align-items:center;

z-index:10;

}

.popup-content{

background:white;

padding:30px;

width:500px;

border-radius:10px;

text-align:center;

}

button{

padding:10px 20px;

margin-top:20px;

}